*{

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


:root{
  font-size: 62.5%;

  --color-base-hue:240;
  --color-base-white:hsl(0, 0%, 100%);
  --color-base-gray-100:hsl(100, 20%, 90%);
  --color-bas-gray-300: hsl(var(--color-base-hue), 60%, 58%);
  --color-base-gray-500:hsl(0, 0%, 24%);
  --color-base-gray-900:hsl(var(--color-base-hue), 6%, 13%);


  font-family: 'Mulish', sans-serif;
}

body{
  font-size: 1.6rem ;
  background-color: var(--color-base-white);
}

main{
  background-color: var(--color-base-gray-100);
  color: #000;

  overflow-y: scroll; /* como eu faço para ocultar a nav bar ?  */
}

main h1{
  padding-top: 1.6rem ;
  font-size: 2.4rem ;
  font-weight: 700;
}

.gallery{
  margin-top: 3.2rem;

  display: grid;

  grid-template-columns: repeat(3,1fr);
  gap: 2.2rem;

}

.item{

  background-color: var(--color-base-white);
  border-radius: 0.8rem;
  overflow: hidden;


}

.item img{

  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
/*
  transition-property: transform,filter;
  transition-duration: 1s;
  transition-delay: 0ms;
  transition-timing-function: ease-out;
*/
/*

  transition-timing-function: ease;
  transition-timing-function:  ease-in;
  transition-timing-function:  ease-in-out;
  transition-timing-function: ease-out;
  transition-timing-function: step-end;
*/ 
   transition: all 2s ease-out;

   display: block;   /*para n sobrar o espaço este a img e o figcaption*/

 /* filter: grayscale(10); se quiser colocar inicialmente da cor cinza */
}

.item img:hover {
  /*Uma ideia de projeto DROP UMA imagem sua e vaja como seria se fosse verde*/
  filter: hue-rotate(7333360deg) contrast(101%) saturate(200%);
  transform: scale(1.1);

}

.details{
  padding: 2.2rem;
  background-color: var(--color-base-white);
  position: relative;
  z-index: 1;
}

.details h2{
  font-size: 1.8rem;
}

.tags{
  margin-top: 1rem;
}

.tags span{
  padding: 0.2rem;
  background-color: var(--color-base-gray-100);

  border-radius: 0.4rem;

  line-height: 0;
  font-size: 1.2rem;

  text-transform: uppercase;
}
/*
#APP > *{
  border: 1px solid #ff0000;
}
*/
#APP {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  height : 100vh;
}


.container{
  padding: 1.6rem 3.2rem;
  width: min(112rem, 100%);

  margin: 0 auto;      /* centralizar a div container*/
}

header nav, nav ul{
  display: flex;
  align-items: center;
  gap: 7.2rem;
  font-weight: 700;
}

header form{
  flex: 1;
}
/*------------------------------------------animation------------------------------*/
footer{
  --var-startY:100%;
  animation: move 0.8s ;

}

header {
  --var-startY:-100%;
  animation: move 0.8s ;
}

.item{
  --var-delay:0.4s;
  animation: appear 0.5s var(--var-delay) backwards;
}

@keyframes move {
  from {
    transform:translateY(var(--var-startY));
  }
}

@keyframes appear{
  0%{
    opacity: 0;
    transform: scale(0.7);
  }
  50%{
    transform: scale(1.2);
  }


}
/*------------------------------------------animation------------------------------*/

ul li{
  list-style: none;
  font-size: 1.8rem;
  color: var(--color-bas-gray-300);
}

ul li.active{
  color: var(--color-base-gray-900);

}

.input-wrapper label{
  width: 1px;
  height: 1px;

  position: absolute;

  overflow: hidden;
}

.input-wrapper input{
  width: 100%;
  padding: 1.2rem 1.6rem;

  font-size: 1.7rem;

  background-color: var(--color-base-gray-100);
  border: 0;

  border-radius: 0.6rem;

  font-weight: 600;
  font-family: 'Mulish', sans-serif;

}

.input-wrapper input::placeholder{
  font-size: 1.6rem;

  line-height: 1.6rem;
  font-family: 'Mulish', sans-serif;

  color: var(--color-base-gray-500);

  opacity: 0.45;
}

header img.avatar{
  width: 5rem;
  height: 5rem;

  border-radius: 50%;

  object-fit: cover; /* vai cobrir o pedaço  que transbordar o length da tag img*/
}

.avatar:hover{
  transform: rotate(130deg);
  transition: 2000ms;
}

footer{
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center;

  font-family: inherit;
  font-size: 1.8rem;


}

footer a {
  text-decoration: none;
  color: var( --color-bas-gray-300);
  
  font-size: 1.8rem ;
  font-weight: 700;

}

footer a:hover{
  text-decoration: underline;
}
