body{
  background-color: #ff0077;
}
/*
Fazer o quadrado ir de um lado para o outro 
*/
a{
  background-color: #000000;
  border-radius: 0.7rem;

  margin-top:rem;
  width: 4rem;
  height: 4rem;

  text-align: center;
  padding: 2rem;
  
  color: #fff;

/*  transform: translateX(3rem);   */
  
}

.move {
  width: 200px;
  height: 200px;
  background-color: rgb(3, 22, 22);

  animation-name: move3;
}

.testar{
    width: 200px;
    height: 300px;
    background-color: aqua;


    animation-name: move;

}

@keyframes move{
  0%{
    transform:translateX(100%);

  }

  50%{

  }

  100%{

  }
  
}

@keyframes move1{
  from{

  }

  to{
    
  }
}

@keyframes move2{
  from{

  }
  to{

  }
}

@keyframes move3{
  to{
    transform: translateX(100%);
  }
}

@keyframes move4{
  0%{

  }

  100%{

  }
}